<h2>Your Cart</h2>

{{#each model.lineitems as |lineitem|}}
	{{line-item lineitem=lineitem}}
{{/each}}

<div class="row">
	<div class="col-md-1 col-md-offset-7"><b>Total:</b></div>
	<div class="col-md-2">
		<b>{{model.cartsummary.total}}</b>
	</div>
</div>